@font-face {
    font-family: 'jbfont';
    src: url('font.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

html {
    background-color: #c5def5;
    color: #283745;

    font-family: 'jbfont';

}

input#search_input {
    width: 45vw;
    background-color: #c5def5;
    border: #283745 2px solid;
    border-radius: 6.5px;
}

button {
    background:none;
    border:none;
}

#ddg, #goog, #searxng {
    color: #4f6981;
}
